{% include 'General/Partes/Infousuario.html' %}

<ul class="nav nav-tabs nav-justified nav-sidebar">
	<li class="tooltips active" data-toggle="tooltip" title="Menú Principal"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Ajustes"><a data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Cerrar Sesión"><a href="{{NeuralRutaApp}}/LogOut"><i class="fa fa-sign-out"></i></a></li>
</ul>

<div class="tab-content">
	{% include 'General/Partes/Menu.html' %}

	<div class="tab-pane" id="settings">
		<h5 class="sidebar-title">Ajustes</h5>
		<ul class="nav nav-pills nav-stacked nav-quirk">
			<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Administrador"><i class="fa fa-user"></i> <span>Mi Perfil</span></a></li>
			<li id="MenuLinkInstructor"><a href="{{NeuralRutaApp}}/Administrador/Instructor"><i class="fa fa-gear"></i> <span>Configuración</span></a></li>
		</ul>
	</div><!-- tab-pane -->
</div><!-- tab-content -->
