<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title">Opciones Administrador</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="#"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkInstructor"><a href="#"><i class="fa fa-users"></i> <span>Registro</span></a></li>
		<li id="MenuLinkTaller"><a href="#"><i class="fa fa-dollar"></i><span>Pagos</span></a></li>
		<li id="MenuLinkHorario"><a href="#"><i class="fa fa-folder-open"></i><span>Inventario</span></a></li>
		<li id="MenuLinkPeriodo"><a href="#"><i class="fa fa-history"></i><span>Historial</span></a></li>
	</ul>

</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>