<section id="fh5co-services" data-section="cursos">
    <div class="fh5co-services">
        <div class="container ContenedorPrincipal">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="col-md-12 section-heading text-center">
                        <br>
                        <h2 class="to-animate"><span>Informacion General</span></h2>
                        <!--inicia-->
                        <div id="menu1" class="tab-pane fade col-md-12 row" >
                            <div class="form-group">
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" autocomplete="off">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb20">
                                            <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                            <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb20">
                                            <span class="input-group-addon"><i class="fa  fa-link"></i></span>
                                            <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <small>Dirección</small>
                                <textarea rows="2" cols="50" type="text" id="Direccion" name="Direccion" class="form-control" placeholder="Direccion" autocomplete="off"></textarea><br>
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                    <input type="text" id="Cargo" name="Cargo" class="form-control" placeholder="Cargo" autocomplete="off">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb20">
                                            <span class="input-group-addon"><i class="fa  fa-phone"></i></span>
                                            <input type="text" id="TelefonoFijo1" name="TelefonoFijo1" class="form-control" placeholder="Telefono Fijo" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb20">
                                            <span class="input-group-addon"><i class="fa  fa-mobile"></i></span>
                                            <input type="text" id="TelefonoMovil1" name="TelefonoMovil1" class="form-control" placeholder="Telefono Movil" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa  fa-envelope-o"></i></span>
                                    <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail" autocomplete="off">
                                </div>
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa  fa-facebook"></i></span>
                                    <input type="text" id="UrlFacebook" name="UrlFacebook" class="form-control" placeholder="UrlFacebook" autocomplete="off">
                                </div>
                                <small>Descripción</small>
                                <textarea rows="2" cols="50" type="text" id="Descripcion" name="Descripcion" class="form-control" placeholder="Descripción" autocomplete="off"></textarea><br>

                            </div>
                            <!--fin-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function fnVerDetalleTaller(IdTaller){
        var url = "{{NeuralRutaApp}}/Asistente/Talleres/VerTaller/"+IdTaller;
        window.location = url;
    }
</script>