<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title">Opciones Administrador</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="#"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkInstructor"><a href="#"><i class="fa fa-users"></i> <span>Personal</span></a></li>
        <li id="MenuLinkPeriodo"><a href="#"><i class="fa fa-graduation-cap"></i><span>Alumnos</span></a></li>
		<li id="MenuLinkTaller"><a href="#"><i class="fa fa-dollar"></i><span>Ingresos</span></a></li>
		<li id="MenuLinkHorario"><a href="#"><i class="fa fa-dollar"></i><span>Egresos</span></a></li>
		<li id="MenuLinkPeriodo"><a href="#"><i class="fa fa-book"></i><span>Cursos</span></a></li>
	</ul>

	<h5 class="sidebar-title">Opciones Asistente</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li class="nav-parent" id="MenuLinkAsistente">
			<a href="#"><i class="fa fa-user"></i> <span>Asistente</span></a>
			<ul class="children">
				<li id="MenuLinkAListado"><a href="#">Listado</a></li>
				<li id="MenuLinkARegistro"><a href="#">Registro</a></li>
				<li id="MenuLinkAPagos"><a href="#">Pagos</a></li>
				<li id="MenuLinkAInventario"><a href="#">Inventario</a></li>
				<li id="MenuLinkAHistorial"><a href="#">Historial</a></li>
			</ul>
		</li>
	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>