<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="headerpanel">
		<div class="logopanel" align="center">
			<img src="{{NeuralRutaWebPublico}}/img/logocadi.png" alt="CADI" height="155px" width="155px">
		</div><!-- logopanel -->
	<footer class="text-center">
		<p>&copy 2018 Academia De Programación. Todos los derechos reservados.</p>
	</footer>
</div>