<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">ESTADÍSTICAS DE LA DEMANDA DE LOS CURSOS</h4>
            <p></p>
        </div>
        <div class="panel-body">
            <div id="barchart" class="flot-chart"></div>
        </div>
    </div>
</div>
        
<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.resize.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.symbol.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.crosshair.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.categories.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.pie.js"></script>  
<script>     
$(function($){
    $.getJSON("{{NeuralRutaApp}}/Administrador/Index/DataJson",function(json){
        /***** BAR CHART *****/
        var bardata = json;
        $.plot('#barchart', [ bardata ], {
            series: {
                lines: {
                    lineWidth: 1
                },
                bars: {
                    show: true,
                    barWidth: 0.5,
                    align: 'center',
                    lineWidth: 0,             
                    fillColor: '#428BCA'
                }
            },
            grid: {
                borderColor: '#ddd',
                borderWidth: 1,
                labelMargin: 10
            },
            xaxis: {
                mode: 'categories',
                tickLength: 0
            },
        });
    });
});
</script>     